{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="player-list">
        <ul>
            {% for char in chars %}
            <li onclick="loadDoc({{ char.id }})">{{ char.name }}</li>
            {%  endfor %}
        </ul>
    </div>
    <div class="chars">
        <div class="stats" id="stats">

        </div>
    </div>
</div>

<script>
    function loadDoc(n) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("stats").innerHTML = this.responseText;
            }
        };
        xhttp.open("GET", "/stat_table/" + n, true);
        xhttp.send();
    }
</script>
</body>
</html>