<table class="stat-table">
    <tr>
        <td>Melee Skill</td>
        <td>{{ char.Melee }}</td>
    </tr>
    <tr>
        <td>Balistic</td>
        <td>{{ char.Range }}</td>
    </tr>
    <tr>
        <td>Will Power</td>
        <td>{{ char.WillPower }}</td>
    </tr>
    <tr>
        <td>Strength</td>
        <td>{{ char.Strength }}</td>
    </tr>
    <tr>
        <td>Agility</td>
        <td>{{ char.Agility }}</td>
    </tr>
    <tr>
        <td>Intelligence</td>
        <td>{{ char.Intelligence }}</td>
    </tr>
    <tr>
        <td>Perception</td>
        <td>{{ char.Perception }}</td>
    </tr>
    <tr>
        <td>Toughness</td>
        <td>{{ char.Toughness }}</td>
    </tr>
    <tr>
        <td>Fellowship</td>
        <td>{{ char.Fellowship }}</td>
    </tr>
    <tr>
        <td>Fate Points</td>
        <td>{{ char.FatePoints }}</td>
    </tr>
</table>